<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="js/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="http://localhost:8088/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://localhost:8088/css/main.css">
    <link rel="stylesheet" href="http://localhost:8088/css/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img class="img-rounded" style="width: 500px;height: 300px" th:src="|http://localhost:8088/static/imgjava.jpg|">
<img class="img-rounded" style="width: 500px;height: 300px" th:src="|http://localhost:8088/static/imagejava.jpg|">
</body>
</html>